@import "tailwindcss";

@import "swiper/css";
@import "swiper/css/navigation";

@theme {
    --font-sans:
        Pretendard, Inter, -apple-system, BlinkMacSystemFont, system-ui,
        sans-serif;
}

body {
    @apply font-sans;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body span,
body p,
header {
    will-change: transform;
}

image {
     max-width: 100%;
     object-fit: contain;
     display: inline-block;
 }


{/* main 페이지 swiper css */}
.swiper-button-prev::before,
.swiper-button-next::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 14px;
    height: 14px;

    border-top: 2px solid #000;
    border-right: 2px solid #000;

    transform-origin: center;
}

.swiper-button-prev::before {
    transform: translate(-50%, -50%) rotate(-135deg);
}

.swiper-button-next::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

{/* 상품 상세 페이지 애니메이션 */}
@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.animate-marquee-img {
    display: flex;
    flex-shrink: 0;
    animation: marquee 20s linear infinite;
}

{/* 상품 상세 페이지 배너 슬라이드 */}
@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.slide-img {
    display: flex;
    animation: marquee 20s linear infinite;
}