@import "tailwindcss";

@import "swiper/css";
@import "swiper/css/navigation";

@theme {
    --font-sans:
        Pretendard, Inter, -apple-system, BlinkMacSystemFont, system-ui,
        sans-serif;
}

body {
    @apply font-sans;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body span,
body p,
header {
    will-change: transform;
}

image {
     max-width: 100%;
     object-fit: contain;
     display: inline-block;
 }


{/* main 페이지 swiper css */}
.swiper-button-prev::before,
.swiper-button-next::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 14px;
    height: 14px;

    border-top: 2px solid #000;
    border-right: 2px solid #000;

    transform-origin: center;
}

.swiper-button-prev::before {
    transform: translate(-50%, -50%) rotate(-135deg);
}

.swiper-button-next::before {
    transform: translate(-50%, -50%) rotate(45deg);
}


{/* brand 페이지 css */}
#container {
    color:#fff;
    background: #F5F0E6;
}
.container-wrap {
    padding-top: 0;
}
#container.bage {
    background-color: #F5F0E6;
    color:#ff4600;
}
.container-wrap {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}
html.has-scroll-smooth {position:fixed;}
html body {min-width: unset !important;}

.brand_div1 .img-wrap {
    display: flex;
    width: 100%;
    height: 100%;
    padding-bottom: calc(140 / 1920 * 100vw);
    flex-direction: column;
    align-items: center;
    padding-top: calc(760 / 1920 * 100vw);
}
.brand_div1 .img-wrap img {
    opacity: 0.5;
}
.brand_div1 .img-wrap img:last-child {
    margin-top: calc(1000 / 1920 * 100vw);
}
.brand_div1 .img-wrap img:hover {
    transform: unset;
}

.brand_div2 {
    display: flex;

}
.brand_div2 > div {
    width: 50%;
}
.brand_div2 > .left {
    position: relative;
    font-size: 0;
}
.brand_div2 > .left .text-wrap {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 100px;
    text-align: center;
}

.brand_div2 .right {

    padding: calc(120 / 1920 * 100vw) calc(100 / 1920 * 100vw);
    color:#FF4600;
}
.brand_div2 .right .ty1 {
    font-size: calc(44 / 1920 * 100vw);
    font-weight: 600;
}
.brand_div2 .right .ty2 {
    font-size: calc(18 / 1920 * 100vw);
    font-weight: 400;
    line-height: calc(28 / 1920 * 100vw);
    margin-top: 40px;
}
.brand_div2 .right .ty3 {
    font-size: calc(18 / 1920 * 100vw);
    font-weight: 400;
    margin-top: 46px;
    line-height: calc(21 / 1920 * 100vw);
}

.brand_div3 {
    position: relative;
    font-size: 0;
}
.brand_div3 > img {
    width: 100%;
}
.brand_div3 .text-wrap{
    position: absolute;
    left: 0;
    bottom: 95px;
    width: 100%;
    padding: 0 calc(150 / 1920 * 100vw);
    display: flex;

}
.brand_div3 .text-wrap .left {
    margin-right: calc(200 / 1920 * 100vw);

}
.brand_div3 .text-wrap .left p {
    font-size: calc(44 / 1920 * 100vw);
    font-weight: 600;
    line-height: calc(60 / 1920 * 100vw);
}
.brand_div3 .text-wrap .right p {
    font-size: calc(18 / 1920 * 100vw);
    font-weight: 400;
    line-height: calc(28 / 1920 * 100vw);
}
.brand_div3 .text-wrap .right p + p {
    margin-top: 40px;
}

.brand_div4 {
    display: flex;
    font-size: 0;
}
.brand_div4 > div {
    width: 50%;
}
.brand_div4 .left {
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand_div4 .left img {
    width: calc(514 / 1920 * 100vw);
    margin-bottom: calc(80 / 1920 * 100vw);
}
.brand_div4 .left p {
    font-size: calc(18 / 1920 * 100vw);
    line-height: calc(28 / 1920 * 100vw);
    font-weight: 400;
    color:#E93118;
}

.brand_div5 {
    position: relative;
    font-size: 0;
}
.brand_div5 .text-wrap {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: calc(600 / 1920 * 100vw);
    flex-direction: column;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.brand_div5 .text-wrap img {
    height: calc(204 / 1920 * 100vw);
}
.brand_div5 .text-wrap p {
    font-size: calc(170 / 1920 * 100vw);
    font-weight: 500;
    margin-bottom: calc(40 / 1920 * 100vw);
}
.brand_div5 .text-wrap span {
    font-size: calc(26 / 1920 * 100vw);
    text-align: center;
    font-weight: 400;
    line-height: calc(32 / 1920 * 100vw);
    margin-top: calc(35 / 1920 * 100vw);
}